name: Scheduled NPS NAV Daily Fetch

on:
  schedule:
    - cron: '30 03 * * *'
    - cron: '30 05 * * *'
    - cron: '30 15 * * *'
    - cron: '30 16 * * *'
    - cron: '30 17 * * *'
    - cron: '0 18 * * *'
    - cron: '30 19 * * *'

  workflow_dispatch:

jobs:
  build-fetch-and-commit:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v6

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.x'

    - name: Install dependencies
      run: |
        pip install -r requirements.txt

    - name: Run fetch.py
      run: python fetch.py

    - name: Commit and Push Changes
      run: |
        git config --global user.name "NPS Nav Bot"
        git config --global user.email "bot@npsnavbot.in"
        git add .
        git commit -m "Daily NAV update by NPS Nav Bot" || echo "No changes to commit"
        git push
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}